<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="CodingPride Test Suite">
            <directory suffix="Test.php">./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./lib/CodingPride/</directory>
            <exclude>
                <directory suffix=".php">./lib/CodingPride/Hydrator</directory>
                <directory suffix=".php">./lib/CodingPride/Proxy</directory>
                <file>./lib/CodingPride/cron2.php</file>
                <file>./lib/CodingPride/cron.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
      <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
    </logging>
</phpunit>
